* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
}
html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}
svg {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}

.palette {
  height: 40vmin;
  min-width: 40vmin;
  pointer-events: none;
  margin-left: 40px;
  fill: url(#my-cool-gradient) #447799;
}

.main {
  text-align: center;
  background-color: #1c1c1c;
  min-height: 100%;
  font-size: 2rem;
  color: #61dafb;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.begin > * {
  margin: auto;
}
.begin {
  justify-content: start;
  padding: 7rem 0;
  gap: 20px;
}

.colorBox {
  height: 45vmin;
  width: 45vmin;
  border-radius: 50px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.stats {
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stats_bar {
  display: flex;
  gap: 30px;
}
.stats_colorbox {
  width: 100px;
  height: 100px;
}
.stats_textbox {
  border: 3px solid #61dafb;
  flex: 1;
}

.counter {
  position: absolute;
  top: 5vmin;
  right: 10vmin;
}
mark.yellow {
  color: #ffff00;
}
mark.red {
  color: #ff0000;
}
mark.cross {
  text-decoration: line-through;
}

h3 {
  color: #ffffff;
  font-weight: 400;
}

.button {
  color: #61dafb;
  padding: 1.5rem 2rem;
  display: block;
  border: 3px solid #61dafb;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
  transition: background-color ease-in 100ms;
}
.button.green, .button.green:hover {
  background-color: #00ff0060!important;
}
.button.red, .button.red:hover {
  background-color: #ff000060!important;
}
.button_light {
  border-color: #FFFF00;
}
.button:hover {
  background-color: #61dafb20!important;
  transition: background-color 0.2s;
}
.button:active {
  background-color: #61dafb5e;
}
.button.small {
  font-size: 1.5rem!important;
}
.button.small {
  font-size: 1rem;
}

.modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1450px) {
  html {
      font-size: 12px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
  html {
      font-size: 10px;
  }
}